<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Full address of the XML file to download. -->
    <add key="Url" value="http://localhost:8080/dummy.xml" />
    <!-- Where to save the downloaded copy. A relative path is relative to the folder Client.exe is in. -->
    <add key="OutputPath" value="dummy.xml" />
    <!-- Give up if the server doesn't respond, or stops sending data, for this many seconds. -->
    <add key="TimeoutSeconds" value="30" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
