<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Port to listen on. -->
    <add key="Port" value="8080" />
    <!-- The XML file to serve. A relative path is relative to the folder Server.exe is in. -->
    <add key="FilePath" value="dummy.xml" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
